  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
        
          <div class="col-lg-4 col-md-6 footer-info">
            <h6>Samp Technologies</h6>
            <p>
              Having specialists who develop innovative solutions to deliver user friendly and perfectly organized products for every project.
              Our Mobile Game Development service includes 2D-3D, web based, multiplayer, custom gaming applications in almost all types. 
              We put high end game developers in our company to offer a seamless gaming experience. 
              Join hands with the best Game Development Company in Surat.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <ul>
              <li>
                <a [routerLink]="['career']" (click)="gotoSection('')" class="image">
                  <img class="we-hire" src="/assets/img/White_We are Hiring.png" alt="Samp Technologies" loading="lazy">
                </a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h6>Contact Us</h6>
            <p>
              Office no 416 <br>
              4th floor, Avalon the business hub<br>
              Near ambatalavdi, Katargam<br>
              Surat-395004,GJ,IND<br>
              <strong>Phone:</strong> +91 90339 06480<br>
              <strong>Mail:</strong> support@samptechnologies.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/Samptechnologie" target="_blank" class="twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/samptechnologies" target="_blank" class="facebook" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/samptechnologies/" class="instagram" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/samp-technologies-pvt-ltd-5920b61b7/" class="linkedin" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://in.pinterest.com/samptechnologies/" target="_blank" class="pinterest" target="_blank">
                <i class="fab fa-pinterest" aria-hidden="true"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCKUaJVOhPZXsRNfLOQTroxQ/" target="_blank" class="pinterest" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="container">
      <div class="copyright">
      Copyright &copy;  <strong>2018-2021 Samp Technologies</strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->


  <a href="#intro" [routerLink]="['']" (click)="gotoSection('#intro')" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
