<!-- ======= Intro Section ======= -->
<section id="intro" class="clearfix">
  <div class="container" data-aos="fade-up">
    <div class="intro-img" data-aos="zoom-out" data-aos-delay="100">
      <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
    </div>
    <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="info-h1">Transforming your Business 
        Digitally!</h1>
      <div>
        <a [routerLink]="['contact']" class="btn-get-started scrollto">Get
          Started</a>
        <a [routerLink]="['services']" class="btn-services scrollto">Our
          Services</a>
      </div>
    </div>
  </div>
</section><!-- End Intro Section -->

<!-- ======= New Intro Section ======= -->
<section id="extra-intro" class="section-bg">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2 class="introh1"> Welcome to Samp Technologies </h2>
    </header>
    <div class="row about-container">
      <div class="col-lg-12 content order-lg-1 order-2">
        <p>
          <a href="https://samptechnologies.com">Samp Technologies Pvt. Ltd. </a> is one of the leading <span class="digital-text">digital presence</span> 
          IT solutions providing company in Surat.
          We strive to provide the best IT solutions to our valuable clients.
          We aim to provide 100% genuine, innovative and creative web solutions to uplift the <span
            class="digital-text">digital presence</span> of our esteemed clients.
        </p>
        <p>
          The establishment of Samp Technologies is the result of the passion,
          we hold within our organization.
          We are an IT Company providing professional and
          credible web solutions, responsive and creative web design, innovative and
          interesting mobile application development, and SEO Integrations.
          We believe in bringing excellent user experience across all web services.
          We recognize client’s requirements, perform thorough research to provide the best solutions with a hint of
          innovativeness in it.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- <div class="row about-container">
  <div class="col-lg-6 content order-lg-1 order-2">
    <p>
      Samp Technologies Pvt. Ltd is one of the leading IT Solutions providing company based in surat since (Year of establishment). 
      With the tremendous evolution of technology and its changing demand from want to a need, 
      we strive to provide the technological curve to all the business -  
      Local as well as national with our innovation and professional service approach. 
    </p>
    <p>
      With our comprehensive web solutions and technology, 
      we have catered to clients from every industry. 
      We achieved extraordinary results for our clients along with increasing the value of their business and 
      excelling their expectations with our proactive methodology, unflinching commitment, vast experience, and 
      innovative approach. We are committed to designing innovative, user-friendly, responsive, and affordable applications. 
    </p>
    <div class="icon-box" data-aos="fade-up">
      <div class="icon"> <i class="fa fa-shopping-bag"></i> </div>
      <h4 class="title"> App & game Development </h4>
      <p class="description"> We provide every game and app development service with all customization options using the
        latest methods and technologies. We have gained 100% client satisfaction. </p>
    </div>
    <div class="icon-box" data-aos="fade-up">
      <div class="icon"> <i class="fa fa-photo"></i> </div>
      <h4 class="title"> Service </h4>
      <p class="description"> Each application and every service are customs made meaning it will be developed using the
        latest methods and technologies will be scalable to any point. </p>
    </div>
    <div class="icon-box" data-aos="fade-up">
      <div class="icon"> <i class="fa fa-bar-chart"></i> </div>
      <h4 class="title"> Clients </h4>
      <p class="description"> We have worked with clients for over 6 years. Some of our clients are from Canada, USA, UK
        and many other countries. </p>
    </div>
  </div>
  <div class="col-lg-6 background order-lg-2" data-aos="zoom-in"> <img src="assets/img/about-img.svg" class="img-fluid"
      alt=""> </div>
</div>
<div class="row about-extra">
  <div class="col-lg-6" data-aos="fade-right"> <img src="assets/img/about-extra-1.svg" class="img-fluid" alt=""> </div>
  <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
    <h4> Why Our Service Is Unique? </h4>
    <p> Team of professionals that work full time on developing mobile applications, Web Design, Web Development, SEO
      Optimization, Logo Design etc. </p>
    <p> Samp Technologies is best known for its Creativity, Design, Game, Mobile App and Software Development with an
      innovative, creative and pragmatic approach, software development at Samp Technologies is no less than an exciting
      and engaging process. </p>
  </div>
</div> -->


<!-- <div class="row about-container">
  <div class="col-lg-6 content order-lg-1 order-2">
    <p>
      Samp Technologies Pvt. Ltd is one of the leading IT Solutions providing company based in surat since (Year of
      establishment).
      With the tremendous evolution of technology and its changing demand from want to a need,
      we strive to provide the technological curve to all the business -
      Local as well as national with our innovation and professional service approach.
    </p>
    <p>
      With our comprehensive web solutions and technology,
      we have catered to clients from every industry.
      We achieved extraordinary results for our clients along with increasing the value of their business and
      excelling their expectations with our proactive methodology, unflinching commitment, vast experience, and
      innovative approach. We are committed to designing innovative, user-friendly, responsive, and affordable
      applications.
    </p>

  </div>
  <div class="col-lg-6 background order-lg-2" data-aos="zoom-in"> <img src="assets/img/about-img.svg" class="img-fluid"
      alt=""> </div>
</div>
<div class="row about-extra">
  <div class="col-lg-6" data-aos="fade-right"> <img src="assets/img/about-extra-1.svg" class="img-fluid" alt=""> </div>
  <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
    <h4> Why Our Service Is Unique? </h4>
    <p> We at Samp Technologies believe strongly in supporting your business.
      Our years of web design and
      application development experience have helped us understand the preferences and
      behavior of clients. </p>
    <p> We have leveraged our highly productive processes and
      in-house frameworks to provide a cost-effective solution to meet the needs of our clients.
      We have collaborated with startups, small business owners,
      local businesses from different industries.
      We have helped our clients with our efficient,
      powerful branding solutions and
      have adopted the latest technology to help them stay ahead in this era of competition. </p>
  </div>
</div> -->



